/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Task Cards */
.mat-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  height: 100%;
}

.mat-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mat-card-content {
  padding: 15px;
}

.task-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.task-description {
  color: #666;
  margin-bottom: 15px;
  
}

/* Task Actions (Edit and Favorite Buttons) */
.task-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.favorite {
  color: #ff4081; /* Pink */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .search-input {
    margin-bottom: 10px;
  }
  
  .search-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
