/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Add Task Card */
.add-task-button {
  background-color: #4caf50; /* Green */
  color: #fff; /* White text */
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Search Task Input */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 10px;
}

.search-button {
  background-color: #ff4081; /* Pink */
  color: #fff; /* White text */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #f50057; /* Darker pink on hover */
}
.card{
  --bs-card-spacer-y: 0.2rem;
}

/* Task Cards */
.mat-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  height: 100%;
}

.mat-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mat-card-content {
  padding: 15px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid #ccc; /* Adjust border color */
  border-radius: 8px;
  background-color: #fff; /* Input background color */
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 10px;
}

.mat-form-field-appearance-fill.mat-focused .mat-form-field-flex {
  border-color: #4caf50; /* Border color on focus */
}

.task-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.task-description {
  color: #666;
  margin-bottom: 15px;
  
}

/* Task Actions (Edit and Favorite Buttons) */
.task-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.edit-button,
.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-button:hover,
.favorite-button:hover {
  color: #4caf50; /* Green */
}

.favorite-button {
  margin-left: 10px;
}

.favorite-button mat-icon {
  font-size: 24px;
}

.favorite {
  color: #ff4081; /* Pink */
}

/* Paginator with tooltips */
.mat-paginator {
  justify-content: center;
}

.mat-paginator-navigation-button {
  position: relative;
}

.mat-paginator-tooltip {
  position: absolute;
  top: -30px; /* Adjust as needed to position tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .search-input {
    margin-bottom: 10px;
  }
  
  .search-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
