<div class="container">
  <!-- Combined Add Task and Search Card -->
  <div class="card">
    <button class="btn btn-primary" type="button" [routerLink]="['/todo/add']">Add Task</button>
  </div>

  <!-- Search Task Input -->
  <div class="card mb-3 shrink-card">
    <div class="card-body">
      <div class="d-flex search-container justify-content-center">
        <form [formGroup]="form">
          <input class="form-control me-2" type="search" placeholder="Search Tasks" aria-label="Search" formControlName="title">
          
          <div class="form-group">
            <input type="date" class="form-control" formControlName="startDate">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" formControlName="endDate">
          </div>
        </form>
        <button class="btn btn-outline-primary" (click)="searchTasks()">Search</button>
      </div>
    </div>
  </div>

  <!-- Task Grid List -->
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3" *ngFor="let task of tasks; let i = index">
      <div class="card mat-card" [ngClass]="{'favorite-task': task.favoriteTask}">
        <div class="card-body">
          <div class="task-info" (click)="navigateToTaskDetail(task.id)">
            <h5 class="card-title task-title" [ngClass]="{'favorite': task.favoriteTask}">{{ task.title }}</h5>
            <p class="card-text task-description" [ngClass]="{'favorite': task.favoriteTask}">{{ task.description }}</p>
            <div class="task-dates">
              <small [ngClass]="{'favorite': task.favoriteTask}">Created: {{ task.createdAt | luxonDate: dateFormat }}</small>
              <br>
              <small [ngClass]="{'favorite': task.favoriteTask}">Updated: {{ task.updatedAt | luxonDate: dateFormat }}</small>
            </div>
          </div>
        </div>
        
        <div class="card-footer d-flex justify-content-between task-actions">
          <button class="btn btn-primary" type="button" (click)="navigateToEditTask(task)">Edit</button>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [checked]="task.favoriteTask" (change)="toggleFavorite(task)">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginator with tooltips -->
  <div class="card mt-3">
    <div class="card-body">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of pagesArray; let i = index" [class.active]="currentPage === i">
            <a class="page-link" (click)="goToPage(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Bootstrap Toast for Notifications -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div *ngIf="showToast" class="toast align-items-center" [class.show]="showToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      {{ toastMessage }}
    </div>
  </div>
</div>
