<div class="container">
  <!-- Combined Add Task and Search Card -->
  <div class="card mb-3">
    <div class="card-body text-center">
      <button class="btn btn-primary add-task-button btn-block" [routerLink]="['/todo/add']">Add Task</button>
    </div>
  </div>
  
  <!-- Search Task Input -->
  <div class="card mb-3 shrink-card">
    <div class="card-body">
      <div class="d-flex search-container justify-content-center">
        <mat-form-field [formGroup]="form" class="flex-grow-1 search-input" appearance="fill">
          <input formControlName="title" matInput placeholder="Search Tasks" [(ngModel)]="searchTerm" />
          <button mat-icon-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button class="btn btn-accent ml-2 search-button" (click)="searchTasks()">Search</button>
      </div>
    </div>
  </div>

  <!-- Task Grid List -->
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngFor="let task of tasks">
      <div class="card mat-card" [ngClass]="{'favorite-task': task.favoriteTask}">
        <div class="card-body mat-card-content">
          <div class="task-info" (click)="navigateToTaskDetail(task.id)">
            <h5 class="card-title task-title" [ngClass]="{'favorite': task.favoriteTask}">{{ task.title }}</h5>
            <p class="card-text task-description" [ngClass]="{'favorite': task.favoriteTask}">{{ task.description }}</p>
            <div class="task-dates">
              <small [ngClass]="{'favorite': task.favoriteTask}">Created: {{ task.createdAt | luxonDate: dateFormat }}</small>
              <br>
              <small [ngClass]="{'favorite': task.favoriteTask}">Updated: {{ task.updatedAt | luxonDate: dateFormat }}</small>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between task-actions">
          <button class="btn btn-link edit-button" (click)="navigateToEditTask(task)">Edit</button>
          <button class="btn btn-link favorite-button" (click)="toggleFavorite(task)">
            <mat-icon [ngClass]="{'favorite': task.favoriteTask, 'favorite_border': !task.favoriteTask }">{{ task.favoriteTask ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginator with tooltips -->
  <div class="card mt-3">
    <div class="card-body">
      <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
</div>
