<div>
  <form [formGroup]="form" (ngSubmit)="submitTodo()">
    <input formControlName="title" placeholder="Task title">
    <button type="submit">{{ selectedTask ? 'Update' : 'Add' }} Task</button>
  </form>

  <ul>
    <li *ngFor="let task of tasks">
      {{ task.title }}
      <button (click)="selectTask(task)">Edit</button>
      <button (click)="deleteTask(task.id)">Delete</button>
    </li>
  </ul>

<app-pagination
    [totalItems]="totalTasks"
    [currentPage]="page"
    [pageSize]="pageSize"
    (pageChange)="changePage($event)">
</app-pagination>
</div>
