.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007bff;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    color: white;
    cursor: not-allowed;
  }
  
  .pagination button:disabled:hover {
    background-color: #cccccc;
    color: white;
    border: none;
  }
  